[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".\\bundle\\solarized"]
	path = .\\bundle\\solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/railscasts"]
	path = bundle/railscasts
	url = https://github.com/jpo/vim-railscasts-theme.git
