[user]
	name = David Lord
	email = eternalcat@gmail.com
[core]
	excludesfile = /home/dal/.gitignore
	autocrlf = false
[push]
	default = current
	autoSetupRemote = true
[alias]
	statsu = status
[init]
	defaultBranch = main
