snippet article
Title:   ${1}
URL:     ${2}
Date:    ${3}
Author:  ${4}

Excerpt:
"${0}"
-------------------------------------------------------------------------------

endsnippet

# general note
snippet note
[NOTE] ${0}
endsnippet

# generic: I'd like to make this capital with a post_expand or something
snippet c
[${1:type}] ${0}
endsnippet

# 
